/* FONTS */

@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* GLOBAL STYLES */

:root {
  --font-primary: "Poppins", sans-serif;
  --font-code: "Poppins", monospace;
  --bg-color: #222222;
  --bg-color-transparent: #22222260;
  --font-color: #fbfbf8;
  --btn-bg-color: #be7efe;
  --accent-color: #fbfbf8;
  --card-shadow: var(--accent-color) 0px 0px 10px;
  
  /* COLORS */
  --black: #222;
  --white: #fbfbf8;
  --purple: #9370d8;
  --gray: #d1d1d1;
  --darkgray: #212529;
  --red: #d82626;
  --blue: #1e90ff;

  /* GRADIENTS */
  

  /* HEADER */
  --color-header-bg: var(--black);
  --color-header-text: var(--white);
  --header-shadow: var(--purple) 0px 0px 4px;

  /* BODY */
  --color-body-bg: var(--black);
  --color-body-text: var(--white);

  /* BUTTON */
  --color-button-bg: var(--purple);
  --color-button-text: var(--white);
  --button-shadow: none;

  /* CARD */
  --color-card-bg: var(--black);
  --color-card-text: var(--white);
  --card-shadow: var(--purple) 0px 0px 20px;
  --card-border: var(--purple);
  --color-countdown-bg: var(--purple);
  --color-countdown-text: var(--white);
  --color-countdown-shadow: var(--);

  /* SLIDER */
  --color-slider-bg: var(--);
  --color-slider-text: var(--);
  --color-slider-border: var(--purple);
  --color-slider-shadow: var(--);
 }
/*
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-body-bg);
  display: flex;
  flex-flow: column;
  height: 100vh;
  color: var(--color-body-text);
  font-family: var(--font-primary);
}
*/






:after,
:before {
	border: 0 solid #e5e7eb;
	box-sizing: border-box;
}
:after,
:before {
	--tw-content: "";
}
html {
	-webkit-text-size-adjust: 100%;
	font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
		Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
		Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
	line-height: 1.5;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
}
body {
	line-height: inherit;
	margin: 0;
}







.container {
  display: flex;
  flex-direction: column;
  max-width: 960px;
  margin: 0 auto;
  padding: 1rem 2rem; 
  justify-content: center;
  overflow: hidden;
}

/* HEADER */

header {
  background-color: var(--color-header-bg);
  color: var(--color-header-text);
  box-shadow: var(--header-shadow);
}

header .container {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  gap: 2rem;
  align-items: center;
  transition: all 0.3s ease;

}

.menu a:hover {
  transform: scale(1.125);
}


/* NOT CONNECTED */
.not-connected {
  align-items: center;
  height: 100%;
  text-align: center;
  margin: 0 auto /* 0 35vw*/;
  opacity: 0;
  transform: translateY(10vh);
  transition: all 0.5s ease-in-out;
}

.show-not-connected {
  opacity: 1;
  transform: translateY(0);
}

.not-connected h1 {
/*  text-shadow: 2px 2px 0 var(--accent-color); */
  font-style: normal;
  margin: 2rem 0;
  font-size: 3.5rem;
}

.not-connected p {
  font-size: 1.35rem;
  font-family: var(--font-primary);
  line-height: 1.8;
}

.not-connected a {
  text-decoration: none;
  color: var(--accent-color);
  font-size: 1.5rem;
  font-weight: bold;
}

/* BUTTONS */

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  background: var(--color-button-bg);
  color: var(--color-button-text);
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
/*  text-transform: uppercase; */
  transition: all 0.3s ease;
  box-shadow: var(--button-shadow);
  cursor: pointer;
  position: relative;
  text-decoration: none;
  outline: none;
  border: none;
}

.btn:disabled {
  cursor: default;
}

.wallet-btn {
  border-radius: 5rem;
  margin-left: 2rem;
  border-color: transparent;
  transition: .3s all;
}

.wallet-btn:hover {
  transform: scale(1.025);
}

.hero-btn {
  border-radius: 4px;
  font-size: 1.2rem;
  padding: 1.5rem 3rem;
  transition: .3s all;
}

.hero-btn:hover {
  transform: scale(1.125);
}

/* CARD */

.card {
  position: relative;
  background-color: var(--color-card-bg);
  border-radius: 5px;
  border: 3px solid var(--card-border);
  box-shadow: var(--card-shadow);
  color: var(--color-card-text);
  padding: 5rem;
  margin-bottom: 2rem;
  opacity: 0;
  transform: translateX(100vw);
  transition: all 0.5s ease-in-out;
}

.show-card {
  opacity: 1;
  transform: translateX(0);
}

/* COUNTDOWN SECTION */

section {
  flex: 1 1 auto;
}


section {display: flex; background:#fbfbf8;
	flex-direction: column;
	padding:0 1rem 1rem; 
	border: 1px solid #ccc; 
	border-radius:.5rem; 
	box-shadow: 0 15px 30px 0 rgba(#007dab, 0.15);
	max-width: 32rem;
	margin: 1rem auto;
}

article {
	width: 100%; 
	display: grid; 
}
	
article p {margin-top: -.5rem;}

#countdown {
  display: none;
  text-align: center;
}

.countdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.countdown ul {
  display: flex;
  gap: 2rem;
}
.countdown .clock-item {
  list-style: none;
  width: 70px;
  height: auto;
}
.countdown .clock-item .count-number {
  background: var(--color-countdown-bg);
  color: var(--color-countdown-text);
  font-size: 2rem;
  font-weight: 700;
  font-family: var(--font-primary);
  padding: 1rem;
  display: inline-block;
  width: 100%;
  text-align: center;
  line-height: 1;
  border-radius: 4px 4px 0 0;
}
.countdown .clock-item .count-text {
  background: var(--color-countdown-bg);
  font-family: var(--font-primary);
  font-size: 1.1rem;
  color: var(--color-countdown-text);
  padding: 0.5rem 0.7rem;
  display: inline-block;
  width: 100%;
  text-align: center;
  line-height: 1;
  border-radius: 0 0 4px 4px;
}

.countdown h1 {
/*  text-shadow: 2px 2px 0 var(--color-countdown-text); */
  font-style: normal;
  margin: 2rem 0;
  font-size: 3.5rem;
  text-align: center;
}

.countdown h2 {
  margin-bottom: 1rem;
}

.countdown > p {
  font-size: 1.1rem;
  font-family: var(--font-primary);
  margin-bottom: 2rem;
  text-align: center;
}

/* MINT CONTAINER */

.mint-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
}

.mint-qty {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--color-body-text);
  border-radius: 6px;
}

.mint-qty > span {
  display: flex;
}

.mint-btn {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin: auto;
}

.input-number {
  height: 100%;
  padding: 1rem;
  vertical-align: top;
  text-align: center;
  outline: none;
}

.input-number,
.input-number-decrement,
.input-number-increment {
  user-select: none;
  border: none;
}

.total-price-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 0 2rem;
}

.total-price-container p {
  color: var(--accent-color);
}

/* MINTED CONTAINER */

.minted-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.minted-container h1 {
  font-size: 5rem;
  margin-bottom: 2rem;
}

.minted-container h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.minted-container p {
  margin: 1rem 0;
}

/* SLIDER */

.splide {
  position: absolute;
  top: 90px;
  left: 5rem;
  z-index: -1;
}

.splide__slide {
  border: var(--color-slide-border) solid;
  border-width: 5px 10px;
}

.splide__slide img {
  width: 100%;
}

/* SPINNER */
.dot-spin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(3);
}

/* MEDIA QUERIES */

@media screen and (max-width: 768px) {
  .menu {
    gap: 1rem;
  }
  .wallet-btn {
    margin-left: 0;
    padding: 0.5rem 1rem;
    max-width: 8rem;
  }
  .not-connected {
    background-color: var(--bg-color-transparent);
    border-radius: 5px;
    padding: 2rem;
    margin: 0 auto;
  }
  .countdown ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .countdown .clock-item {
    width: 100%;
  }
  .countdown .clock-item .count-number {
    font-size: 1.5rem;
  }
  .countdown .clock-item .count-text {
    font-size: 1rem;
  }
  .countdown h1 {
    font-size: 2rem;
    margin: 1rem 0;
  }
  .countdown h2 {
    padding-top: 0.5rem;
  }
  .countdown p {
    font-size: 1rem;
  }
  .card {
    padding: 1rem;
  }
  .mint-qty .btn {
    padding: 1rem;
    font-size: 13px;
  }
}

/* UTILITIES */

.hidden {
  display: none;
}



h1 span {
  color: var(--purple);
  font-size: 3.65rem;
}





















/* HASHLIPS STYLING */
/*
*,
:after,
:before {
	border: 0 solid #e5e7eb;
	box-sizing: border-box;
}
:after,
:before {
	--tw-content: "";
}
html {
	-webkit-text-size-adjust: 100%;
	font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
		Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
		Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
	line-height: 1.5;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
}
body {
	line-height: inherit;
	margin: 0;
}
a {
	color: inherit;
	text-decoration: inherit;
}
strong {
	font-weight: bolder;
}
button {
	color: inherit;
	font-family: inherit;
	font-size: 100%;
	line-height: inherit;
	margin: 0;
	padding: 0;
}
button {
	text-transform: none;
}
button {
	-webkit-appearance: button;
	background-color: transparent;
	background-image: none;
}
:-moz-focusring {
	outline: auto;
}
p {
	margin: 0;
}
button {
	cursor: pointer;
}
:disabled {
	cursor: default;
}
img,
svg {
	display: block;
	vertical-align: middle;
}
img {
	height: auto;
	max-width: 100%;
}
*,
:after,
:before {
	--tw-translate-x: 0;
	--tw-translate-y: 0;
	--tw-rotate: 0;
	--tw-skew-x: 0;
	--tw-skew-y: 0;
	--tw-scale-x: 1;
	--tw-scale-y: 1;
	--tw-scroll-snap-strictness: proximity;
	--tw-ring-offset-width: 0px;
	--tw-ring-offset-color: #fff;
	--tw-ring-color: rgba(59, 130, 246, 0.5);
	--tw-ring-offset-shadow: 0 0 #0000;
	--tw-ring-shadow: 0 0 #0000;
	--tw-shadow: 0 0 #0000;
	--tw-shadow-colored: 0 0 #0000;
}
.opacity-25 {
	opacity: 0.25;
}
.opacity-75 {
	opacity: 0.75;
}
body {
	--tw-text-opacity: 1;
	--tw-gradient-from: #f1f5f9;
	--tw-gradient-stops: var(--tw-gradient-from),
		var(--tw-gradient-to, rgba(241, 245, 249, 0));
	--tw-gradient-stops: var(--tw-gradient-from), #f1f5f9,
		var(--tw-gradient-to, rgba(241, 245, 249, 0));
	--tw-gradient-to: #e2e8f0;
	background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
	color: rgb(30 41 59 / var(--tw-text-opacity));
	font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
		Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
		Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
	min-height: 100vh;
	padding: 1.5rem;
}
a,
a:link,
a:visited {
	--tw-text-opacity: 1;
	color: rgb(79 70 229 / var(--tw-text-opacity));
	font-weight: 600;
}
a:hover,
a:link:hover,
a:visited:hover {
	-webkit-text-decoration-line: underline;
	text-decoration-line: underline;
}
strong {
	font-weight: 600;
}
main {
	display: flex;
	flex-direction: column;
}
#logo {
	margin: auto;
	max-width: 28rem;
	width: 100%;
}
span.emoji {
	font-size: 1.5rem;
	line-height: 2rem;
}
.error {
	--tw-bg-opacity: 1;
	--tw-border-opacity: 1;
	--tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
	--tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color),
		0 1px 2px -1px var(--tw-shadow-color);
	--tw-text-opacity: 1;
	background-color: rgb(254 242 242 / var(--tw-bg-opacity));
	border-color: rgb(254 202 202 / var(--tw-border-opacity));
	border-radius: 0.5rem;
	border-width: 1px;
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
		var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
	color: rgb(239 68 68 / var(--tw-text-opacity));
	display: flex;
	flex-direction: column;
	font-size: 0.875rem;
	line-height: 1.25rem;
	padding: 0.75rem;
}
.error:before {
	content: "Error";
	font-size: 1rem;
	font-weight: 600;
	line-height: 1.5rem;
}
.error button {
	--tw-text-opacity: 1;
	--tw-bg-opacity: 1;
	background-color: rgb(239 68 68 / var(--tw-bg-opacity));
	border-radius: 0.375rem;
	color: rgb(255 255 255 / var(--tw-text-opacity));
	display: inline-block;
	font-size: 0.75rem;
	font-weight: 600;
	line-height: 1rem;
	margin-left: auto;
	margin-top: 0.75rem;
	padding: 0.25rem 0.5rem;
}
.error button:hover {
	--tw-bg-opacity: 1;
	background-color: rgb(248 113 113 / var(--tw-bg-opacity));
}
button {
	--tw-bg-opacity: 1;
	--tw-border-opacity: 1;
	--tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
	--tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
	background-color: rgb(255 255 255 / var(--tw-bg-opacity));
	border-color: rgb(226 232 240 / var(--tw-border-opacity));
	border-radius: 9999px;
	border-width: 1px;
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
		var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
	font-weight: 600;
	padding: 0.5rem 1.5rem;
}
button:hover {
	--tw-bg-opacity: 1;
	background-color: rgb(241 245 249 / var(--tw-bg-opacity));
}
#minting-dapp {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1.5rem;
	max-width: 28rem;
	width: 100%;
}
#minting-dapp .no-wallet, .not-connected {
	--tw-bg-opacity: 1;
	--tw-border-opacity: 1;
	--tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
	--tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color),
		0 1px 2px -1px var(--tw-shadow-color);
	background-color: rgb(255 255 255 / var(--tw-bg-opacity));
	border-color: rgb(248 250 252 / var(--tw-border-opacity));
	border-radius: 0.5rem;
	border-width: 1px;
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
		var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
	display: flex;
	flex-direction: column;
	padding: 1.5rem 1rem;
}
#minting-dapp .collection-not-ready {
	--tw-bg-opacity: 1;
	--tw-border-opacity: 1;
	--tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
	--tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color),
		0 1px 2px -1px var(--tw-shadow-color);
	background-color: rgb(255 255 255 / var(--tw-bg-opacity));
	border-color: rgb(248 250 252 / var(--tw-border-opacity));
	border-radius: 0.5rem;
	border-width: 1px;
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
		var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
	font-size: 0.875rem;
	line-height: 1.25rem;
	padding: 1rem 1.5rem;
}
#minting-dapp .collection-not-ready .spinner {
	--tw-text-opacity: 1;
	color: rgb(99 102 241 / var(--tw-text-opacity));
	display: inline;
	height: 2rem;
	margin-left: -0.25rem;
	margin-right: 0.75rem;
	width: 2rem;
}
#minting-dapp .collection-not-ready .spinner {
	-webkit-animation: spin 1s linear infinite;
	animation: spin 1s linear infinite;
}
#minting-dapp .not-mainnet {
	--tw-bg-opacity: 1;
	--tw-border-opacity: 1;
	--tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
	--tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color),
		0 1px 2px -1px var(--tw-shadow-color);
	background-color: rgb(255 255 255 / var(--tw-bg-opacity));
	border-color: rgb(248 250 252 / var(--tw-border-opacity));
	border-radius: 0.5rem;
	border-width: 1px;
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
		var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
	padding: 1rem 1.5rem;
	text-align: center;
}
#minting-dapp .not-mainnet.not-mainnet {
	--tw-bg-opacity: 1;
	--tw-border-opacity: 1;
	--tw-text-opacity: 1;
	background-color: rgb(250 204 21 / var(--tw-bg-opacity));
	border-color: rgb(234 179 8 / var(--tw-border-opacity));
	color: rgb(0 0 0 / var(--tw-text-opacity));
}
#minting-dapp .not-mainnet.not-mainnet .small {
	display: block;
	font-size: 0.875rem;
	line-height: 1.25rem;
}
/*! CSS Used keyframes */
@-webkit-keyframes spin {
	to {
		transform: rotate(1turn);
	}
}
@keyframes spin {
	to {
		transform: rotate(1turn);
	}
}
